*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}

h1{
  text-align: center;
  font-size: 25px;
  margin: 20px 0 ;
  font-family: Roboto, sans-serif;
  color: #1b1b32;
}

.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.freecodecamp-logo-container{
  display: flex;
  margin: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo{
  width: 400px;
  height: 150px;
}

/* Lista de Tareas */

.tareas-lista-principal{
  width: 600px;
  min-height: 500px ;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}